body{
    
    font-family: 'Open Sans', sans-serif;
    color: #333; /*text colour*/
    
}

h1{
    font-family: 'Roboto Slab', serif;
}

.wrapper{
    width: 920px;
    margin: auto;

}


img{

    width: 100%;
}

.images-align{

display: flex;
gap: 24px;
flex-wrap:wrap;

}


.about-us{

    width: 400px;
    height:400px;
}

.words-about{

    text-align: center;
}

.contact-us{
    width: 80%;
    height:80%;
}

